body {
    margin: 0;
    padding: 0;
}

header {
    display: flex-column;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    background: teal;
}

#cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}

.rock {
    height: 160px;
    padding-top: 20px;
}

.scissors {
    height: 180px;
    padding-top: 10px;
}

#cards img {
    transition: all .1s ease-in-out;
    object-fit: cover;
}

@keyframes card-pulse {
    0%, 10%, 90%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
}

@keyframes card-zoom-in {
    0%, 10% { transform: scale(1); }
    100% { transform: scale(1.2); }
}

@keyframes card-zoom-out {
    0%, 10% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.result {
    text-align: center;
    padding: 20px 0;
}

footer {
    background: grey;
    color: white;
    text-align: center;
    padding: 10px 0;
}