body {
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

#cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.rock {
    height: 160px;
    padding-top: 20px;
}

.scissors {
    height: 180px;
    padding-top: 10px;
}

#cards img {
    transition: all .1s ease-in-out;
    object-fit: cover;
}

@keyframes card-pulse {
    0%, 10%, 90%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
}